.row.products {
    margin-bottom: 15px;
}

.thumb {
	margin-bottom: 40px;
}

.product-wrap {
	height: 200px;
	overflow:hidden;
	margin-bottom: 40px;
	position:relative;
}

.product-wrap-short {
	height: 150px;
	overflow:hidden;
	margin-bottom: 40px;
	position:relative;
}

.product-image {

}

.half-fade {
	opacity: 0.5;
}


